.hints-board {
    margin-top: 130px;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--square-width);
    height: var(--square-height);
    background-color: lightgray;
    border: 1px solid black;
}

/* Existing styles for valid moves */
.valid-move-tile1 {
    background-color: springgreen; /* Greenish tint for tile1's moves */
}

.valid-move-tile2 {
    background-color: blue; /* Blueish tint for tile2's moves */
}

.valid-move-both {
    background-color: yellow; /* Yellowish tint for moves valid for both tiles */
}

/* New styles for the pieces */
.tile1 {
    background-color: green; /* Green background for tile1 */
    color: white; /* Optional: White text for better contrast */
}

.tile2 {
    background-color: midnightblue; /* Blue background for tile2 */
    color: white; /* Optional: White text for better contrast */
}

.hint-key {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hint-key div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.key-square {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
